<div class="column-2">
  <div class="contact__address">
    <h3>Контактный адрес</h3>
    <div class="contact__map">
      <figure class="google_map">
        <iframe
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBQXIBsdin_bTTGLZi_Fk2Z7npveTs4q_I
      &q=Teatral'na+Square,Mariupol+Ukraine"
          allowfullscreen>
        </iframe>
      </figure>
    </div>
    <div class="contact__information">
      <div class="contact__information-title">
        Драматический театр
      </div>
      <div class="contact__information-address">
        <p>Театральная площадь 1,</p>
        <p>Мариуполь, Донецкая область,</p>
        <p>Телефон: 0629 345 663,</p>
        <p>Email: <a href="mailto:mrpl-theatre@yandex.ru">mrpl-theatre@yandex.ru</a></p>
      </div>
    </div>
  </div>
  <div class="delimeter"></div>
  <div class="contact__form">
    <h3>Контактная форма</h3>
    <div class="">
      <form class="contact__form-fields">
        <input type="text" placeholder="Ваше имя">
        <input type="text" placeholder="Ваш email">
        <textarea name="contact__message" placeholder="Ваше сообщение..."></textarea>
        <button class="btn btn-contacts"><span>Отправить</span></button>
      </form>
    </div>
  </div>
</div>
