<div class="row">
    <div class="col-lg-12">
      <h2>Спектакли</h2>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>
      <a [routerLink]="['/performances/create']"><button class="btn btn-primary">Добавить</button></a>
    </p>
    <table class="table table-bordered">
      <tr>
        <th>№</th>
        <th>Название спектакля</th>
        <th>Автор</th>
        <th>Действие</th>
      </tr>
      <tr>
        <th>1</th>
        <td>Мой спектакль</td>
        <td>Иванов И.И</td>
        <td>
            <a><button class="btn btn-success">Изменить</button></a>
            <a><button class="btn btn-danger">Удалить</button></a>
          </td>
      </tr>
    </table>
  </div>
</div>