<div class="seance-main" *ngIf="isLoad">
    <div class="title"><h3>Оформление заказа</h3></div>
    <div class="steps-block">
        <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="true"></p-steps>
    </div>
    <div class="column-2">
        <ng-container *ngIf="isAvalaiblePlace">
            <app-stage-small  *ngIf="activeIndex==0"
            [disActiveClass]="disActiveClassId"
            [stageMap]="rows_places"
            [tickets]="tickets"
            (placeOrder)="placeOrder($event)"
            [isLoadPlace]="isLoadPlace"
            ></app-stage-small>
            <app-seance-order *ngIf="activeIndex==1"></app-seance-order>
        </ng-container>
        <div *ngIf="!isAvalaiblePlace">К сожалению на этот сеанс доступных мест нет(</div>
        <div class="delimeter"></div>
        <app-seance-rightbar 
         [timeLeft]="timeLeft"
         [category_places]="category_places"
         [seances]="seances"
         [performance]="performance"
         [seance_id]="seance_id"
         [ticketsOrder]="ticketsOrder"
         [activeIndex]="activeIndex"
         (placeOrder)="closeTicket($event)"
         (_changeSeance)="changeSeance($event)"
         (_timerFinish)="timerFinish()"
         (_orderTickets)="orderTickets()"
        >
        </app-seance-rightbar>       
    </div>
</div>
<p-confirmDialog key="closeConfirmation" appendTo="body" header="Подтверждение" icon="fa fa-question-circle" width="425"></p-confirmDialog>
<p-confirmDialog key="updatePageDialog" appendTo="body" header="Обновление страницы" icon="fa fa-question-circle" width="425" #cd></p-confirmDialog>
<div *ngIf="!isLoad">Загрузка...</div>