<div class="row">
    <div class="col-lg-12">
        <h2>Редактирвоние пользователя</h2>
    </div>
    <div class="col-lg-12">
    <form>
        <div class="form-group">
          <label for="inputName">ФИО</label>
          <input type="text" class="form-control" id="inputName" placeholder="ФИО">
        </div>
        <div class="form-group">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="inputPhone">Телефон</label>
          <input type="text" class="form-control" id="inputPhone" placeholder="Мобильный телефон">
        </div>
        <button type="submit" class="btn btn-default">Редактировать</button>
      </form>
    </div>
</div>