<nav class="navbar-default navbar-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav" id="main-menu">
      <li routerLinkActive="active">
        <a [routerLink]="['/']">
          <i class="fa fa-desktop" ></i>Главная
          <!--<span class="badge">Included</span>-->
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/seances']">
          <i class="fa fa-table "></i>Сеансы
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/employees']">
          <i class="fa fa-edit "></i>Персонал театра
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/performances']">
          <i class="fa fa-qrcode "></i>Cпектакли</a>
      </li>
      <li routerLinkActive="active">
          <a [routerLink]="['/stages']">
            <i class="fa fa-qrcode "></i>Сцены</a>
      </li>
      <li routerLinkActive="active">
          <a [routerLink]="['/category']">
            <i class="fa fa-qrcode "></i>Категории</a>
      <li routerLinkActive="active">
          <a [routerLink]="['/seasons']">
            <i class="fa fa-qrcode "></i>Сезоны</a>
      <li routerLinkActive="active">
        <a [routerLink]="['/positions']">
          <i class="fa fa-qrcode "></i>Должности</a>
      <li routerLinkActive="active">
          <a [routerLink]="['/units']">
            <i class="fa fa-qrcode "></i>Подразделения</a>      
          <li routerLinkActive="active">
      <li routerLinkActive="active">
          <a [routerLink]="['/buyers']">
            <i class="fa fa-qrcode "></i>Покупатели</a>      
          <li routerLinkActive="active">
        <a [routerLink]="['/users']">
          <i class="fa fa-bar-chart-o"></i>Пользователи</a>
      </li>
    </ul>
  </div>
</nav>