<div class="employees-main" *ngIf="isLoaded">
  <div class="title"><h3>Сотрудники</h3></div>
  <ng-container *ngIf="employees.length; else message">
    <div class="employees__navigation">
      <app-sub-navigation [navigation]='units'
      (onChangedId)='onChangedId($event)'
      >
      </app-sub-navigation>
    </div>
    <app-employees-list 
    [employees]='employees'
    [positionId]='positionId' 
    [positions] = 'positions'
    [units]='units'
    >
    </app-employees-list>
  </ng-container>
  <ng-template #message>Нет данных</ng-template>
</div>
<p-progressSpinner class="spinner" *ngIf="!isLoaded"></p-progressSpinner>
