<div class="column-2" *ngIf="isLoading">
  <div class="ticket-profile" >
    <h3>Текущие заказы</h3>
    <div *ngIf="actualSeances.length">
      <div class="seance__order" *ngFor="let actualSeance of actualSeancesChunk">
        <div class="seance__shedule">
            <div class="table-header">Дата сеанса: {{actualSeance?.datetime | date:"dd MMMM"}}</div>
            <div class="description__text">
                <div class="column-2">
                    <img class="seance__img" src="http://127.0.0.1:8000/images/performances/{{actualSeance.performance?.photo_main}}" alt="" />
                    <div class="delimeter"></div>
                    <div class="seance__description">
                        <div class="seance__time-header"><h5>Название спектакля:</h5></div>
                        <div class="seance__name">{{actualSeance.performance?.name}}</div>
                        <div class="seance__time-header"><h5>В. О.:</h5></div>
                        <div class="seance__name">{{actualSeance.performance?.age_restrict}}+</div>
                        <div class="seance__time-header"><h5>Название сцены:</h5></div>
                          <div class="seance__name">{{actualSeance.stage?.name}}</div>
                        <div class="seance__time">
                            <ng-container>
                                <div class="seance__time-header"><h5>Время сеанса:</h5></div>
                                  <span>
                                    {{actualSeance?.datetime | date:"H:mm"}}
                                  </span>
                            </ng-container>
                        </div>
                    </div>
                    
                </div>    
            </div>
        </div>
        <div class="seance__tickets">
            <div class="table-header">
                <div class="column-2">
                    <span>Ваши билеты</span>
                    <div class="delimeter"></div>
                </div>
            </div>
            <div class="description__text">
              <div class="ticket" *ngFor="let ticketOrder of actualSeance.tickets"
              id="{{ticketOrder?.id}}">
                  <div class="ticket__position">
                        <div class="ticket__sector"><b>Сектор {{ticketOrder?.category_place?.name}}</b></div>
                        <div class="ticket__row-place">
                          <span>Ряд <b>{{ticketOrder?.row_id}}</b></span>
                          <span>Место <b>{{ticketOrder?.place_id}}</b></span>
                          <span *ngIf="ticketOrder.status===-1"><b style="color: red">Подтверждается оплата</b></span>
                          <span *ngIf="ticketOrder.status===1"><b style="color: red">Забронирован</b></span>
                          <span *ngIf="ticketOrder.status===2"><b style="color: red">Оплачен</b></span>   
                        </div>
                        <div class="ticket__save">
                            <div  (click)="pdfGenerator(actualSeance, ticketOrder)">
                                <i class="far fa-save"></i><span><u>Сохранить билет</u></span> 
                              </div>
                        </div>
                  </div>
                  <div class="ticket__price"><b>{{ticketOrder?.price/1000 | currency:'UAH'}}
                  </b></div>
                  <div class="close" (click)="clickReturn(ticketOrder.id)">
                    <i class="fas fa-minus-circle"></i>   
                  </div>
              </div>
            </div>
        </div>
      </div>
      <p-paginator (onPageChange)="paginateActual($event)" [rows]="1" [totalRecords]="actualSeances.length">
      </p-paginator>
    </div>
    <ng-container *ngIf="!actualSeances.length">
      <div>Заказов нет</div>
    </ng-container>
  </div>
  <div class="delimeter"></div>
  <div class="contact__form">
    <h3>История заказов</h3>
    <div *ngIf="historySeances.length">
        <div class="seance__order" *ngFor="let actualSeance of historySeancesChunk">
        <div class="seance__shedule">
            <div class="table-header">Дата сеанса: {{actualSeance?.datetime | date:"dd MMMM"}}</div>
            <div class="description__text">
                <div class="column-2">
                    <img class="seance__img" src="http://127.0.0.1:8000/images/performances/{{actualSeance.performance?.photo_main}}" alt="" />
                    <div class="delimeter"></div>
                    <div class="seance__description">
                        <div class="seance__time-header"><h5>Название спектакля:</h5></div>
                        <div class="seance__name">{{actualSeance.performance?.name}}</div>
                        <div class="seance__time-header"><h5>В. О.:</h5></div>
                        <div class="seance__name">{{actualSeance.performance?.age_restrict}}+</div>
                        <div class="seance__time-header"><h5>Название сцены:</h5></div>
                            <div class="seance__name">{{actualSeance.stage?.name}}</div>
                        <div class="seance__time">
                            <ng-container>
                                <div class="seance__time-header"><h5>Время сеанса:</h5></div>
                                    <span>
                                    {{actualSeance?.datetime | date:"H:mm"}}
                                    </span>
                            </ng-container>
                        </div>
                    </div>
                    
                </div>    
            </div>
        </div>
        <div class="seance__tickets">
            <div class="table-header">
                <div class="column-2">
                    <span>Ваши билеты</span>
                    <div class="delimeter"></div>
                </div>
            </div>
            <div class="description__text">
                <div class="ticket" *ngFor="let ticketOrder of actualSeance.tickets"
                id="{{ticketOrder?.id}}">
                    <div class="ticket__position">
                            <div class="ticket__sector"><b>Сектор {{ticketOrder?.category_place?.name}}</b></div>
                        <div class="ticket__row-place">
                            <span>Ряд <b>{{ticketOrder?.row_id}}</b></span>
                            <span>Место <b>{{ticketOrder?.place_id}}</b></span>
                        </div>
                    </div>
                    <div class="ticket__price"><b>{{ticketOrder?.price/1000 | currency:'UAH'}}
                    </b></div>
                </div>
            </div>
        </div>
        </div>
        <p-paginator (onPageChange)="paginateHistory($event)" [rows]="1" [totalRecords]="historySeances.length">
        </p-paginator>
    </div>
    <ng-container *ngIf="!historySeances.length">
      <div>Заказов нет</div>
    </ng-container>
  </div>
</div>
<p-dialog appendTo="body" modal="true" [(visible)]="display" width="400">
    <p-header>
       Возврат билета
    </p-header>
        <form class="contact__form-return" 
        [formGroup]="cardform"        
        >
            <input id="cc-number" formControlName="cc-number" type="visa" autocomplete="cc-number" placeholder="XXXX-XXXX-XXXX-XXXX" ccNumber>
            <input id="cc-exp-date" formControlName="cc-exp-date" type="tel" autocomplete="cc-exp" placeholder="MM/YYYY" ccExp>
            <input id="cc-cvc" formControlName="cc-cvc" type="tel" autocomplete="off"  placeholder="XXXX" ccCVC>
        </form>
    <p-footer>
        <button (click)="updateTicketStatus()" [disabled]="cardform.invalid" type="button" pButton icon="fa-check" label="Подтвердить"></button>
        <button type="button" pButton icon="fa-close" label="Закрыть" (click)="display=false"></button>
    </p-footer>
</p-dialog>
<p-dialog appendTo="body" modal="true" [(visible)]="displayAnswer" width="400">
    <p-header>
       Данные отправлены успешно!
    </p-header>
        Ожидайте выполнение операции в течение 24 часов!.
    <p-footer>
          <button type="button" pButton icon="fa-close" label="Закрыть" (click)="displayAnswer=false"></button>
    </p-footer>
</p-dialog>


<div *ngIf="!isLoading">Загрузка...</div>