<div class="row">
  <div class="col-lg-12">
      <h2>Редактирование персонала</h2>
  </div>
  <div class="col-lg-12" *ngIf="isLoad">
  <div class="alert alert-success" *ngIf="isSuccess" role="alert">Добавление записи прошло успешно!</div>  
  <div class="alert alert-danger" *ngIf="isError" role="alert">Ошибка при добавлении записи!</div>  
  <form [formGroup]="dataform"  (ngSubmit)="OnSubmit(dataform.value)">
      <div class="form-group">
        <label for="inputSurName">Фамилия</label>
        <input type="text" formControlName="surname" class="form-control" id="inputSurName" placeholder="Фамилия">
        <div class="error-form" *ngIf="!dataform.controls['surname'].valid&&dataform.controls['surname'].dirty">
          - Поле "Фамилия" некорректно!
        </div>
      </div>
      <div class="form-group">
        <label for="inputName">Имя</label>
        <input type="text" formControlName="name" class="form-control" id="inputName" placeholder="Имя">
        <div class="error-form" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
          - Поле "Имя" некорректно!
        </div>
      </div>
      <div class="form-group">
        <label for="inputMidName">Отчество</label>
        <input type="text" formControlName="middlename" class="form-control" id="inputMidName" placeholder="Отчество">
        <div class="error-form" *ngIf="!dataform.controls['middlename'].valid&&dataform.controls['middlename'].dirty">
          - Поле "Отчество" некорректно!
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Адрес</label>
        <input type="text" formControlName="address" class="form-control" id="inputAddress" placeholder="Адрес">
        <div class="error-form" *ngIf="!dataform.controls['address'].valid&&dataform.controls['address'].dirty">
          - Поле "Адрес" некорректно!
        </div>
      </div>
      <div class="form-group">
        <label for="inputBirthday">День рождение</label>
        <input type="date" formControlName="birthday" class="form-control" id="inputBirthday" placeholder="День рождение">
        <div class="error-form" *ngIf="!dataform.controls['birthday'].valid&&dataform.controls['birthday'].dirty">
          - Поле "День Рождение" некорректно!
        </div>
      </div>
      <div class="form-group">
        <label for="inputBiography">Биография</label>
        <textarea formControlName="bio" class="form-control" id="inputBiography" rows="14"></textarea>
        <div class="error-form" *ngIf="!dataform.controls['bio'].valid&&dataform.controls['bio'].dirty">
          - Поле "Биография" некорректно!
        </div>
      </div>
      <div class="form-group">
        <label for="inputBiographyShort">Короткая биография</label>
        <textarea formControlName="bioshort" class="form-control" id="inputBiographyShort" rows="3"></textarea>
        <div class="error-form" *ngIf="!dataform.controls['bioshort'].valid&&dataform.controls['bioshort'].dirty">
          - Поле "Коротка биография" некорректно!
        </div>
      </div>           
      <div class="form-group">
        <label for="inputMobile">Мобильный номер</label>
        <input type="number" formControlName="phone" class="form-control" id="inputMobile" placeholder="Мобильный номер">
        <div class="error-form" *ngIf="!dataform.controls['phone'].valid&&dataform.controls['phone'].dirty">
          - Поле "Телефон" некорректно!
        </div>
      </div>
      <div class="form-group">
        <label for="inputUnit">Должность</label>
        <div>
          <p-multiSelect  defaultLabel="Выберите должность" optionLabel="name" [ngModelOptions]="{standalone: true}" [options]="positions" [(ngModel)]="positionsSelect"></p-multiSelect>
        </div>  
      </div>
      <div class="form-group">
        <label for="inputPosition">Подразделение</label>
        <div>
          <p-dropdown [ngModelOptions]="{standalone: true}" [options]="units" optionLabel="name" [(ngModel)]="unitSelect"></p-dropdown>
        </div>  
      </div>
      <div class="form-group">
        <label for="inputPhoto">Главное фото</label>
        <p-fileUpload  accept="image/*" maxFileSize="1000000" #fileInputPhoto [files]="fileName" [showUploadButton]="false"></p-fileUpload>
      </div>
      <div class="form-group">
        <label for="inputPhotos">Фотографии</label>
        <p-fileUpload #fileInputPhotos [multiple]="true" (click)="uploadPhotos()" [showUploadButton]="false"></p-fileUpload>
      </div>         
      
      <button type="submit" class="btn btn-default">Редактировать</button>
    </form>
  </div>
  <div *ngIf="!isLoad">Загрузка...</div>
</div>