<div class="seance-order-block" >
    <h3 class="first">Контактные данные</h3>
    <div class="contact__form">
        <div class="">
          <form class="contact__form-fields" 
          [formGroup]="userform"
          >
            <ng-container *ngIf="!usersService.loggedIn()">
                <input type="text" formControlName="name" placeholder="ФИО">
        
                <div class="error-form" *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty">
                    - Поле "ФИО" обязательно к заполнению!
                </div>
                <input (input)="updateEmail()" type="text" formControlName="email" placeholder="Ваш email">
                <div class="error-form" *ngIf="!userform.controls['email'].valid&&userform.controls['email'].dirty">
                    - Поле "Email" некорректно!
                </div>
                <div class="error-form" *ngIf="errorEmail">
                    - Такой email уже существует!
                </div>
                <input type="text" formControlName="phone" placeholder="Ваш мобильный телефон 096...">
                <div class="error-form" *ngIf="!userform.controls['phone'].valid&&userform.controls['phone'].dirty">
                    - Поле "Мобильный телефон" некорректно!
                </div>
            </ng-container>
            <div>    
              <input formControlName="checkboxReserve" type="checkbox" class="checkbox checkbox--orange"/>Забронировать билет
            </div>
            <div *ngIf="userform.controls['checkboxReserve'].value">
                <b style="color: red">Внимание!</b> Бронь с билета снимется за 30 минут до начала спектакля.
            </div>
            <div>
              <input formControlName="checkboxRules" type="checkbox" class="checkbox checkbox--orange"/>Вы согласны с правилами театра и подтверждаете, что ознакомлены с возрастным ограничением. 
            </div>
            <div class="error-form" *ngIf="!userform.controls['checkboxRules'].untouched&&!userform.controls['checkboxRules'].value">
                - Поле обязательно для выбора!
            </div> 
            <button (click)="_reserveTicket(userform.value)" [disabled]="errorEmail" *ngIf="userform.controls['checkboxReserve'].value" type="submit" class="btn btn-contacts" [disabled]="userform.invalid"><span>Забронировать</span></button>
            <button (click)="_buyTicket(userform.value)" [disabled]="errorEmail" *ngIf="!userform.controls['checkboxReserve'].value" type="submit" class="btn btn-contacts" [disabled]="userform.invalid"><span>Оплатить</span></button>
          </form>
        </div>
    </div>
</div>