@font-face {
    font-family: $base-font-bold;
    src: url($font-src + "bitter/BitterBold.eot");
    src: url($font-src + "bitter/BitterBold.eot?#iefix")format("embedded-opentype"),
    url($font-src + "bitter/BitterBold.woff") format("woff"),
    url($font-src + "bitter/BitterBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}