@font-face {
    font-family: $base-font-bold-italic;
    src: url($font-src + "bitter/BitterBoldItalic.eot");
    src: url($font-src + "bitter/BitterBoldItalic.eot?#iefix")format("embedded-opentype"),
    url($font-src + "bitter/BitterBoldItalic.woff") format("woff"),
    url($font-src + "bitter/BitterBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}