<div class="row">
  <div class="col-lg-12">
    <h2>Сеансы</h2>
  </div>
</div>
<div class="row" *ngIf="isLoad">
  <div class="col-lg-12">
    <p>
      <a [routerLink]="['/seances/create']">
        <button class="btn btn-primary">Добавить</button>
      </a>
    </p>
    <div class="alert alert-success" *ngIf="isSuccess" role="alert">Удаление записи прошло успешно!</div>  
    <div class="alert alert-danger" *ngIf="isError" role="alert">Нельзя удалить эту запись!</div>    
    <table class="table table-bordered">
      <tr>
        <th>№</th>
        <th>Дата</th>
        <th>Спектакль</th>
        <th>Действие</th>
      </tr>
      <tr *ngFor="let seance of seances; let i = index">
        <th>{{i+1}}</th>
        <td>{{seance?.datetime}}</td>
        <td>{{seance?.performance?.name}}</td>
        <td>
          <a [routerLink]="['/seances/view', seance?.id]">
            <button  class="btn btn-info">Просмотреть</button>
          </a>
          <a [routerLink]="['/seances/edit', seance?.id]">
            <button  class="btn btn-success">Изменить</button>
          </a>
          <a>
            <button (click)="deleteSeance(seance.id)" 
            class="btn btn-danger">
              Удалить
           </button>
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
<div *ngIf="!isLoad">Загрузка...</div>