<svg *ngIf="tickets && tickets[0]?.id" id="stage-main-map" height="10587" width="11280" version="1.1"  xmlns="http://www.w3.org/2000/svg" style="overflow: hidden; position: relative;">
  <circle 
  class="svg__circle_hidden"
    cx="5178.15" cy="5383.06" r="8" fill="#71ac57" stroke="#000000" stroke-width="1" 
  style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0.5;" cx="5576" cy="5320" r="8" fill="#71ac57" stroke="#000000" stroke-width="1" transform="matrix(3.0375,0,0,3.0375,-11491.5,-11060.5688)" opacity="0.5"
  /> 
    
    <ng-container *ngFor="let el of ticketsMap"> 
      
      <g>
        <circle  [style.fill]="el.ticket?.is_avalaible || el.ticket?.status !=0 ? 'green' : 'grey'"
          [style.cursor]="el.ticket?.is_avalaible || el.ticket?.status !=0 ? 'pointer' : 'not-allowed'"
          class="svg__circle"
          textContent="{{el.ticket?.id}}"
          [attr.cx]= el.map.cx [attr.cy] = el.map.cy r="8" stroke-width="0" stroke="#000000"
          style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1; stroke-width: 0"  stroke="#000000" transform="matrix(3.0375,0,0,3.0375,-11491.5,-11060.5688)" opacity="0.5"
          (click)="clickPlace($event, el.ticket?.id, el.map?.place_id, el.map?.row_id, el.map?.category_id, el.ticket?.seance_id, el.ticket?.price, el.ticket?.is_avalaible)"
          >    
        </circle>
        <text 
          style="z-index: 150;"
          fill="white" 
          class="svg__point_text" 
          [attr.x]= el.map.x [attr.y]= el.map.y>{{el.map.place_id}}</text>
      </g>
    </ng-container>

  <ellipse style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0.3;" cx="5664.691358024692" cy="5454.672839506173" rx="89.54732510288068" ry="15.144032921811231" fill="#ffffff" stroke="#666666" stroke-width="3" transform="matrix(3.0375,0,0,3.0375,-11491.5,-11060.5688)" opacity="0.3"></ellipse>
  <ellipse style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;" cx="5664.691358024692" cy="5454.672839506173" rx="89.54732510288068" ry="15.144032921811231" fill="#000000" stroke="#000" transform="matrix(3.0375,0,0,3.0375,-11491.5,-11060.5688)" stroke-width="1" opacity="0"></ellipse>
</svg>