<div class="row">
    <div class="col-lg-12">
      <h2>Категории мест</h2>
    </div>
</div>
<div class="row" *ngIf="isLoad">
  <div class="col-lg-12">
    <p>
      <a [routerLink]="['/category/create']"><button class="btn btn-primary">Добавить</button></a>
    </p>
    <div class="alert alert-success" *ngIf="isSuccess" role="alert">Удаление записи прошло успешно!</div>  
    <div class="alert alert-danger" *ngIf="isError" role="alert">Нельзя удалить эту запись!</div>    
    <table class="table table-bordered">
      <tr>
        <th>№</th>
        <th>Название категории</th>
        <th>Действие</th>
      </tr>
      <tr *ngFor="let category of category_places; let i = index">
        <th>{{i+1}}</th>
        <td>{{category?.name}}</td>
        <td>
            <a [routerLink]="['/category/edit', category.id]"><button class="btn btn-success">Изменить</button></a>
            <a (click)="deleteCategoryPlace(category.id)"><button class="btn btn-danger">Удалить</button></a>
        </td>
      </tr>
    </table>
  </div>
</div>
<div *ngIf="!isLoad"></div>