<div class="row">
    <div class="col-lg-12">
      <h2>Категории мест</h2>
    </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <p>
      <a [routerLink]="['/category/create']"><button class="btn btn-primary">Добавить</button></a>
    </p>
    <table class="table table-bordered">
      <tr>
        <th>№</th>
        <th>Название категории</th>
        <th>Действие</th>
      </tr>
      <tr>
        <th>1</th>
        <td>Партер</td>
        <td>
            <a><button class="btn btn-success">Изменить</button></a>
            <a><button class="btn btn-danger">Удалить</button></a>
        </td>
      </tr>
    </table>
  </div>
</div>