<div class="seance__order">
    <div class="seance__shedule">
        <div class="table-header">{{seances && seances[0]?.datetime | date:"dd MMMM"}}</div>
        <div class="description__text">
            <div class="column-2">
                <img class="seance__img" src="images/t.jpg" alt="" />
                <div class="delimeter"></div>
                <div class="seance__description">
                    <div class="seance__time-header"><h5>Название спектакля:</h5></div>
                    <div class="seance__name">{{performance?.name}}</div>
                    <div class="seance__time-header"><h5>Название сцены:</h5></div>
                    <ng-container *ngFor="let seance of seances">
                        <div class="seance__name" *ngIf="seance.id==seance_id">{{seance.stage?.name}}</div>
                    </ng-container>
                    <div class="seance__time">
                        <div class="seance__time-header"><h5>Расписание сеансов:</h5></div>
                        <ng-container *ngFor="let seance of seances">
                            <span>
                                <a [class.seance-active]="seance_id==seance.id" 
                                (click)="changeSeance(seance.id)"
                                >
                                    {{seance?.datetime | date:"H:mm"}}
                                </a>
                            </span>
                        </ng-container>
                    </div>
                </div>
                
            </div>    
        </div>
    </div>
    <div class="seance__tickets">
        <div class="table-header">
            <div class="column-2">
                <span>Ваши билеты</span>
                <div class="delimeter"></div>
                <span class="time-left">15:00</span>
            </div>
        </div>
        <div class="description__text">
            
            <div class="seance__tickets_empty" *ngIf="!ticketsOrder.length">
                <p>Вы еще не выбрали билет</p>
                <span class="seance__tickets_choose">Выберите место на схеме зала</span>
            </div>
            <div class="ticket" *ngFor="let ticketOrder of ticketsOrder"
            id="{{ticketOrder?.id}}">
                <div class="ticket__position">
                    <ng-container *ngFor="let category_place of category_places">
                        <div class="ticket__sector" *ngIf="category_place.id==ticketOrder.category_id"><b>Сектор {{category_place?.name}}</b></div>
                    </ng-container>
                    <div class="ticket__row-place">
                        <span>Ряд <b>{{ticketOrder?.row_id}}</b></span>
                        <span>Место <b>{{ticketOrder?.place_id}}</b></span>
                    </div>
                </div>
                <div class="ticket__price"><b>{{ticketOrder?.price/1000 | currency:'UAH'}}</b></div>
                <div class="close" (click)="closeTicket(ticketOrder.id)">
                    <i class="fas fa-times-circle"></i>    
                </div>
                
            </div>
            
        
        </div>
        <div class="btn-buy" [style.cursor]="ticketsOrder.length ? 'pointer' : 'not-allowed'">Оформить заказ</div>
    </div>
</div>