<div class="row">
    <div class="col-lg-12">
        <h2>Добавление сезона</h2>
    </div>
    <div class="col-lg-12">.
    <div class="alert alert-success" *ngIf="isSuccess" role="alert">Добавление записи прошло успешно!</div>  
    <div class="alert alert-danger" *ngIf="isError" role="alert">Ошибка при добавлении записи!</div>  
    <form [formGroup]="dataform"  (ngSubmit)="OnSubmit(dataform.value)">
        <div class="form-group">
          <label for="inputName">Название сезона</label>
          <input type="text" formControlName="name" class="form-control" id="inputName" placeholder="Название">
          <div class="error-form" *ngIf="!dataform.controls['name'].valid&&dataform.controls['name'].dirty">
            - Поле "Название сезона" некорректно!
          </div>
        </div>
        <div class="form-group">
            <label for="inputStart">Дата начала сезона</label>
            <input type="date" formControlName="start_date" class="form-control" id="inputStart" placeholder="Дата начала">
            <div class="error-form" *ngIf="!dataform.controls['start_date'].valid&&dataform.controls['start_date'].dirty">
                - Поле "Дата начала сезона" некорректно!
            </div>
        </div>
        <div class="form-group">
            <label for="inputEnd">Дата конца сезона</label>
            <input type="date" formControlName="end_date" class="form-control" id="inputEnd" placeholder="Дата конца">
            <div class="error-form" *ngIf="!dataform.controls['end_date'].valid&&dataform.controls['end_date'].dirty">
                - Поле "Дата конца сезона" некорректно!
            </div>
        </div>
        <button type="submit" [disabled]="dataform.invalid" class="btn btn-default">Добавить</button>
    </form>
    </div>
  </div>