@import "~@ng-select/ng-select/themes/default.theme.css";
.ng-dropdown-panel {
    left: 0;
}

a {
    cursor: pointer;
}

.seance-active {
    color: red !important;
}

.ui-steps.ui-steps-readonly .ui-steps-item {
    width: 33.3%;
}

.ui-state-highlight {
    border: 1px solid
}

.steps-block {
    margin-bottom: 15px;
}

.error-form {
    color: red;
}

/**
 * Code for checkboxes
 */
 .checkbox {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: .75rem;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    /**
     * Iterate over map and autogenerate helper classes.
    * See "https://codepen.io/fxm90/pen/zGjjrJ" for an example
    */
  }
  .checkbox:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 2px solid #f2f2f2;
    transition: all 0.3s ease-in-out;
  }
  .checkbox:checked:before {
    height: 50%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
  }

  .checkbox--orange:checked:before {
    border-color: #ff9800;
  }