@import "~@ng-select/ng-select/themes/default.theme.css";
.ng-dropdown-panel {
    left: 0;
}

a {
    cursor: pointer;
}

.seance-active {
    color: red !important;
}

.ui-steps.ui-steps-readonly .ui-steps-item {
    width: 33.3%;
}

.ui-state-highlight {
    border: 1px solid
}

.steps-block {
    margin-bottom: 15px;
}