<div class="wrapper">
  <main class="main main__position">
    <header class="header">
      <app-navigation></app-navigation>
    </header>
    <div class="main__curtain main__curtain-position">
      <div class="main__curtain_center">
        <div class="mask_black"></div>
      </div>
      <div class="main__curtain_left "></div>
      <div class="main__curtain_right"></div>
      <div class="main__content" >
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>
  <app-footer></app-footer>
</div>
